ENVIRONMENT=development
PORT=8081
GRPC_PORT=9091

DB_HOST=localhost
DB_PORT=5433
DB_NAME=payflow_auth
DB_USER=payflow_auth
DB_PASSWORD=your_password_here
DB_SSL_MODE=disable
DB_MAX_CONNS=20

REDIS_ADDR=localhost:6379
REDIS_PASSWORD=

JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=720h
JWT_ISSUER=payflow
JWT_PRIVATE_KEY_PATH=../../secrets/jwt_private.pem
JWT_PUBLIC_KEY_PATH=../../secrets/jwt_public.pem
