ENVIRONMENT=development
PORT=8085

DB_HOST=localhost
DB_PORT=5433
DB_NAME=payflow_notification
DB_USER=payflow_notification
DB_PASSWORD=notification_secret
DB_SSL_MODE=disable
DB_MAX_CONNS=10

KAFKA_BROKERS=127.0.0.1:9092
KAFKA_GROUP_ID=notification-service

AUTH_SERVICE_URL=http://localhost:8081
PAYMENT_SERVICE_URL=http://localhost:8083
ADMIN_API_KEY=local_dev_admin_key_change_in_production

SMS_PROVIDER=logger
