ENVIRONMENT=development
PORT=8082

DB_HOST=localhost
DB_PORT=5433
DB_NAME=payflow_payment
DB_USER=payflow_payment
DB_PASSWORD=payment_secret
DB_SSL_MODE=disable
DB_MAX_CONNS=20

KAFKA_BROKERS=localhost:9092
KAFKA_GROUP_ID=payment-service

AUTH_SERVICE_URL=http://localhost:8081

JWT_PUBLIC_KEY_PATH=../../secrets/jwt_public.pem
